# Database URL for PostgreSQL
DATABASE_URL="postgresql://db:db@localhost:9999/db"

# Better Auth configuration
BETTER_AUTH_API_KEY=
BETTER_AUTH_URL=http://localhost:3000

# generate your own with: openssl rand -base64 32
BETTER_AUTH_SECRET=
