# Database URL for PostgreSQL
DATABASE_URL="postgresql://db:db@localhost:9999/db"

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000

# to generate: (openssl rand -base64 32)
BETTER_AUTH_SECRET=bY90eC/wowz4P6AbalSlYWYUk0DybGpx5XHubg45K1k=
